{{#each this}}
<h2 class="country-name">{{name}}</h2>
<div class="flex">
    <div>
            <p>
    <strong>Capital: </strong>{{capital}}
    </p>
    <p>
    <strong>Population: </strong>{{population}}
    </p>
    <p>
    <strong>Languages: </strong>
    </p>
    <ul>
     {{#each languages}}
    <li>
   {{name}}
    </li>
    {{/each}}
    </ul>
    </div>
    <img src="{{flag}}" alt="Флаг {{name}}" width="480" class="country-flag">
</div>
{{/each}}